{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
  <div class="flex">
    <a href="{% url 'index' %}" class="w-24 h-24 p-6 z-10">
      <img src="{% static 'imgs/logo.png' %}">
    </a>
    {% block header %}{% endblock %}
  </div>
  {% block body %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>